* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  height: 10000px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: white;
  gap: 200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1100px) {
  header {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .right-side {
    flex-direction: column;
  }
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #666666;
  font-size: 21px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  height: 30px;
  cursor: pointer;
}

/* end header */

/* intro */

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1090px) {
  .intro {
    flex-direction: column;
  }
}

.intro p {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.4;
  color: #42446E;
}

.name {
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.human-box {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}

.human-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid transparent;
  border-image: linear-gradient(45deg, #6a00f4, #00d4ff);
}

/* end intro */

/* stack */
.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stack-title, .projects-title {
  color: #42446E;
  font-size: 48px;
  margin-bottom: 0;
  font-weight: 700;  
}

.stack-desc, .projects-desc {
  color: #666666;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 100px;
}

.stack-icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 30px 50px;
}

@media (max-width:1000px) {
  .stack-icons {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width:700px) {
  .stack-icons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:600px) {
  .stack-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:450px) {
  .stack-icons {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stack-icon-container {
  width: 120px;
  height: 120px;
}

.stack-icon {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.stack-icon:hover {
  transform: scale(1.1);
}

/* end stack */


/* projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width:1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:800px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project {
  border-radius: 20px;
  width: 375px;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}

.project-buttom {
  margin: 10px;  
}

.project-title {
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}

.project-desc {
  font-weight: 300;
  font-size: 18px;
  color:#666666;
  margin-bottom: 10px;
}

.project-stack {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.project-span {
  font-weight: 300;
  font-size: 14px;
}

.projects-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-link-container {
  display: flex;
  gap: 10px;
}

.project-link-image-container {
  width: 20px;
  height: 20px;
}

.project-link-image {
  width: 100%;
  height: 100%;
}

.project-link {
  color: #000000
}
/* end projects */


/* footer */
footer {
  display: flex;
  flex-direction: column;
}

hr {
  margin-left: 0;
  margin-right: 0;
  color: rgba(102, 102, 102, 1);
}

.first-footer {
  display: flex;
  justify-content: space-between;
  color: rgba(66, 68, 110, 1);
  margin-bottom: 50px;
  align-items: center;
}

.right-first-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.second-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 150px;
}

.designed-by {
  color: grey;
  font-weight: 400px;
  font-size: 18px;
}

.gradient {
  background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* end footer */